html,
body {
    /*background-color: rgb(237, 237, 237);*/
    font: menu;
    min-height: 450px;
    min-width:  600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 30px;
}

span.selectLabel {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}

table {
    border-spacing: 0;
    border: 0;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

#main-options td:first-child {
    max-width: 160px;
}

#main-options {
    margin-bottom: 10px;
}

#main-options td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    text-align: left;
}

#scroll-container {
    height: 100%;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
}

_:-moz-tree-row(hover), #sidebar {
	display: none;
}


_:-moz-tree-row(hover), #content {
	padding: 5px 20px;
}

a {
    color: rgb(17, 85, 204);
}

.section-header {
    color: rgb(95, 95, 95);
    font-size: 1.17rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 20px 0 12px 0;
    display: flex;
}

.section-header::after {
    background-image: linear-gradient(rgb(190, 190, 190), transparent 1px);
    background-position: left 55%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    content: '';
    flex: auto;
    margin-left: 5px;
}

section div {
    margin: 5px 20px;
}

.sub-navigation-option {
    margin-left: 25px;
}

.hidden {
    display: none!important;
}

.checkbox span,
input[type=button],
input[type=checkbox] {
    cursor: pointer;
    margin-left: 0;
}

select {
    cursor: pointer;
    min-width: 110px;
}

input[type=number],
input[type=text] {
    min-width: 110px;
    box-sizing: border-box;
    padding: 1px 3px;
}

input[type=text] {
    min-width: 250px;
}

#smartID {
    min-width: 470px;
}

.twitter {
    display: block;
    margin-top: 25px;
}

button {
    padding: 2px 2px;
    width: 5em;
    margin-right: 3px;
    text-align: center;
}

input[type=checkbox] {
    vertical-align: sub;
}
